In [10]:
# import package
from mysql.connector import connect

# 01 - membuat koneksi dengan database
db = connect(
    host = "localhost",
    user = "root",
    password = "sayaBelajar"
)
print(db)

<mysql.connector.connection.MySQLConnection object at 0x000001F5712EBC18>

In [11]:
# 02 - membuat database
cursor_db = db.cursor() 
cursor_db.execute("DROP DATABASE IF EXISTS school")         # hapus database jika ada
cursor_db.execute("CREATE DATABASE IF NOT EXISTS school")   # buat database jika tidak ada
cursor_db.close()
db.close()
    # membuat koneksi baru
db = connect(
  host="localhost",
  user="root",
  password="sayaBelajar",                            
  database="school"
)

In [12]:
# 03 - membuat atribut table
cursor_db = db.cursor() 
cursor_db.execute(
    '''CREATE Table students(
        id_siswa int primary key auto_increment,
        nama VARCHAR(50) not null,
        id_kelas int not null,
        tahun_masuk int not null
    )'''
)

In [13]:
# 04 - memasukkan data kedalam table
    # Cara 1
query = '''
INSERT INTO students (nama, id_kelas, tahun_masuk)
VALUES
    ('shiroe', 21, 2012),
    ('akatsuki', 21, 2012),
    ('naotsugu', 21, 2012),
    ('minori', 13, 2013),
    ('touya', 13, 2013),
    ('kanami', 31, 2011)
'''
cursor_db.execute(query)
db.commit()

In [14]:
     # cara 2
input_list = [

    ('shiroe', 21, 2012),
    ('akatsuki', 21, 2012),
    ('naotsugu', 21, 2012),
    ('minori', 13, 2013),
    ('touya', 13, 2013),
    ('kanami', 31, 2011)

]

for data in input_list:

    query = '''

    INSERT INTO students (nama, id_kelas, tahun_masuk)

    VALUES (%s, %s, %s)

    '''

    cursor_db.execute(query, data)

db.commit()

'''
    # menutup database
cursor_db.close()
db.close()
'''

'\n    # menutup database\ncursor_db.close()\ndb.close()\n'

In [15]:
# 05 - melihat data di dalam table
def insert_data():
    query = '''select * from students'''
    cursor_db.execute(query)
    data = cursor_db.fetchall()

    #Untuk menampilkan kita bisa menggunakan for loop,
    for row in data:
        print(row)

insert_data()

(1, 'shiroe', 21, 2012)
(2, 'akatsuki', 21, 2012)
(3, 'naotsugu', 21, 2012)
(4, 'minori', 13, 2013)
(5, 'touya', 13, 2013)
(6, 'kanami', 31, 2011)
(7, 'shiroe', 21, 2012)
(8, 'akatsuki', 21, 2012)
(9, 'naotsugu', 21, 2012)
(10, 'minori', 13, 2013)
(11, 'touya', 13, 2013)
(12, 'kanami', 31, 2011)

In [16]:
# Menutup database
cursor_db.close()
db.close()